.app {
    background-color: black;
    height: 100vh;
    overflow: hidden;

    text-align: center;
    user-select: none;
}

.app .playground {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    margin: auto;
}

.playground .lane {
    position: relative;
    height: 100%;
    width: 140px;
}

.lane .drum-button {
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 70px;
    line-height: 70px;
    font-size: 14px;
    color: black;

    background-color: #F0F0F0;
    cursor: pointer;
    outline: none;

    border-radius: 100px / 50px;
    -webkit-tap-highlight-color: transparent;
}

@media (hover: hover) {
    .drum-button:hover .background {
        background-color: white;
    }

    .drum-button .background .hot-key {
        position: absolute;
        bottom: -22px;
        width: 100%;
        text-align: center;
        font-weight: bold;
    }
}

.drum-button .background {
    position: relative;

    width: 100%;
    height: 70px;
    border-radius: 100px / 50px;
    background-color: #F0F0F0;
}

.drum-button.highlight .background {
	animation: strike-effect 0.3s ease-out forwards;
}

@keyframes strike-effect {
	0% {
		background: rgba(0, 255, 255, 1);
		transform: scale3d(0.9, 0.9, 1);
	}
	25% {
		background: rgba(0, 255, 255, 1);
		transform: scale3d(1, 1, 1);
	}
	100% {
		transform: scale3d(1, 1, 1);
	}
}

.lane canvas {
    width: 100%;
    height: calc(100% - 35px);
}
