.app {
    background-color: black;
    height: 100vh;

    text-align: center;
    user-select: none;
}

.app .playground {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 80%;
    margin: auto;
}

.playground .lane {
    position: relative;
    height: 100%;
    width: 70px;
}

.lane .drum-button {
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 70px;
    line-height: 70px;
    font-size: 10px;

    background-color: darkgray;
    cursor: pointer;
    outline: none;

    border: 2px solid transparent;
    border-radius: 5px;
}

.lane .drum-button:hover {
    background-color: whitesmoke;
}

.lane .drum-button.active {
    background-color: #00DDDD;
    border-color: #00FFFF;
}
